<!doctype html>
<html lang="en">
    
<%- include('../partials/head.ejs'); %>
<body>
    <div class="dashboard-wrapper">
        <!-- Sidebar  -->
        <%- include('../partials/sidebar.ejs'); %>

        <!-- Page Content  -->
        <div id="content">
            <h1>My Courses</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach((course, cnt) => {%> 
                        <tr>
                            <th class="align-middle" scope="row"><%=cnt + 1%></th>
                            <td class="align-middle">
                                <% if (course.photo.contentType) { %>
                                    <img class="thumbnail img-fluid " src="data:image/<%=course.photo.contentType%>;base64,
                                        <%=course.photo.data.toString('base64')%>">
                                <% } else { %>
                                    <img class="thumbnail img-fluid " src="/public/assets/img/no_image.png" alt="no-image">
                                <% } %>
                            </td>
                            <td class="align-middle"><%= course.name %> </td>
                            <td class="align-middle"><%= course.category %> </td>
                            <td class="align-middle"><%= course.duration %> </td>
                            <td class="align-middle">
                                <a class="btn btn-xs btn-danger" href="/api/deleteCourse/<%= course.id %>">Delete</a>
                            </td>
                        </tr>
                    <% }); %> 
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>